

<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="goToServiciosTerritoriales()">Servicios Territoriales</button>
  <button mat-menu-item (click)="goToEspecies()">Especies</button>
  <button mat-menu-item (click)="goToTablaMunicipiosSigpac()">Municipios SIGPAC</button>
  <button mat-menu-item (click)="goToTablaExpedientesTipos()">Tipos de Expedientes</button>
  <button mat-menu-item (click)="goToTablaExpedientesExpedientesEstados()">Estados de Expedientes</button>
  <button mat-menu-item (click)="goToTablaTiposDocumentos()">Tipos de Documentos</button>
  <button mat-menu-item (click)="goToTablaTiposDomicilios()">Tipos de Domicilios</button>
  <button mat-menu-item (click)="goToTablaActividadesTipos()">Tipos de Actvidades</button>
  <button mat-menu-item (click)="goToTablaActividadesSubtipos()">Subtipos de Actividades</button>
  <button mat-menu-item (click)="goToTablaActividades()">Actividades</button>



</mat-menu>
<mat-toolbar>
<button mat-button [matMenuTriggerFor]="menu" >Mantenimiento</button>
</mat-toolbar>

<mat-menu #lazyMenu="matMenu" focusFirstItem>
  <ng-template>
  <button mat-menu-item (click)="goToEspecies()">Item 1</button>
  <button mat-menu-item>Item 2</button>
</ng-template>
</mat-menu>

<!-- <button mat-flat-button [matMenuTriggerFor]="lazyMenu">Menu2</button> -->



<!-- <p>
  <mat-toolbar>
    <button mat-icon-button [matMenuTriggerFor]="menu"  class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Mantenimiento</span>
    <span class="example-spacer"></span>
     <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
</p>-->




