
<mat-card>
  <mat-card-header class="p-d-flex p-jc-between">
    <h3>Mantenimiento de tabla "Especies"</h3>
  </mat-card-header>
</mat-card>
<br>
<p>{{mensaje}}</p>

<br>

<div class="demo-button-container">
  <button mat-raised-button (click)="nuevo()" class="demo-button">
    Nuevo
  </button>

</div>
<div class="table-container" tabindex="0">
  <table mat-table [dataSource]="dataSource" matSort  class="mat-elevation-z8" >
    <ng-container matColumnDef="espEspecieid">
      <mat-header-cell *matHeaderCellDef mat-sort-header  sortActionDescription="Sort by number"> ID. </mat-header-cell>
      <mat-cell *matCellDef="let element" > {{element.espEspecieid}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="espNombrecomun">
      <mat-header-cell *matHeaderCellDef  mat-sort-header > NOMBRE COMUN </mat-header-cell>
      <mat-cell *matCellDef="let element" > {{element.espNombrecomun}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="espEspecieprotegida">
      <mat-header-cell *matHeaderCellDef mat-sort-header > ESPECIE PROTEGIDA </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.espEspecieprotegida}} </mat-cell>
    </ng-container>

    <mat-row mat-header-row *matHeaderRowDef="displayedColumns"></mat-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"   (click)="editar(row)"  (click)="row.highlighted = !row.highlighted" (click)="row.isEdit = !row.isEdit"></mat-row>
   </table>
  </div>
   <!-- <router-outlet></router-outlet> -->
