
<div class="dialog-wrapper">

  <mat-dialog-content>
    <mat-error *ngIf="!extLetraVal">Letra obligatorio</mat-error>
    <mat-error *ngIf="!extDescripcionVal">Descripción obligatorio</mat-error>
    <mat-error *ngIf="!extNumeracionconjuntaVal">Numeración conjunta obligatorio</mat-error>
    <mat-error *ngIf="!extPlazoresolucionVal">Plazo de resolución obligatorio</mat-error>
    <mat-error *ngIf="!extSilencioadministrativoVal">Silencio administrativo obligatorio</mat-error>


    <form [formGroup]="camposEditar" class="w-100 p-d-flex p-flex-column p-ai-center ng-untouched ng-pristine ng-valid">
      <!-- <div formGroupName="camposEditar" class="w-100 p-d-flex p-jc-between p-flex-wrap"> -->

      <input matInput type="number" formControlName="id" [hidden]="true">
      <mat-form-field>
        <mat-label>Letra</mat-label>
        <input matInput type="text" formControlName="extLetra" maxlength="1" (keyup)="soloLetras($event)">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Descripción </mat-label>
        <input matInput type="text" formControlName="extDescripcion" >
      </mat-form-field>

      <mat-form-field>
        <mat-label>Numeración</mat-label>
        <mat-select formControlName="extNumeracionconjunta">
          <mat-option value=0>Individual</mat-option>
          <mat-option value=1>Conjunta</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Plazo resolución </mat-label>
        <input matInput type="text" formControlName="extPlazoresolucion" >
      </mat-form-field>

      <mat-form-field>
        <mat-label>Silencio administrativo</mat-label>
        <mat-select formControlName="extSilencioadministrativo">
          <mat-option value=0>Desfavorable</mat-option>
          <mat-option value=1>Favorable</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- </div> -->
    </form>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button (click)="onNoClick()" cdkFocusInitial>Cancelar</button>
    <!-- <button mat-button (click)="actualizarEspecie(data.id)" [mat-dialog-close]="data" cdkFocusInitial>Guardar</button> -->
    <button mat-button (click)="actualizarExpedientesTipos(data.id)" >Guardar</button>
    <button mat-button [disabled]="noDelete" (click)="eliminarExpedientesTipos(data.id)"
      cdkFocusInitial>Eliminar</button>
  </mat-dialog-actions>
</div>
