
<p>{{mensaje}}</p>
<!-- <mat-card>
<h2>Mantenimiento de tabla "Servicos Territoriales"</h2>
</mat-card> -->


<mat-card>
  <mat-card-header class="p-d-flex p-jc-between">
    <h3>Mantenimiento de tabla "Servicos Territoriales"</h3>
  </mat-card-header>
</mat-card>

<br>


<div class="example-button-row">
  <button mat-raised-button (click)="nuevo()">
    Nuevo
  </button>
</div>
<br>

<!-- <button class="btn-aceptar" mat-raised-button color="primary" matTooltip="Añadir Recinto"
          matTooltipPosition="above" >

          Añadir Recinto
        </button> -->



  <table mat-table [dataSource]="dataSource" matSort  class="mat-elevation-z8" >
    <ng-container matColumnDef="setServicioterritorialid">
      <mat-header-cell *matHeaderCellDef mat-sort-header > ID. </mat-header-cell>
      <mat-cell *matCellDef="let element" > {{element.setServicioterritorialid}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="setCodigo">
      <mat-header-cell *matHeaderCellDef  mat-sort-header >CODIGO </mat-header-cell>
      <mat-cell *matCellDef="let element" > {{element.setCodigo}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="setDescripcion">
      <mat-header-cell *matHeaderCellDef mat-sort-header >DESCRIPCION </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.setDescripcion}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="musNombremunicipio">
      <mat-header-cell *matHeaderCellDef mat-sort-header > MUNICIPIO </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.musNombremunicipio}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"    (click)="editar(row)"   (click)="row.highlighted = !row.highlighted" (click)="row.isEdit = !row.isEdit"></mat-row>

   </table>
   <!-- <router-outlet></router-outlet> -->


